# Dependencies
node_modules
.pnp
.pnp.js

# Nuxt.js build / generate output
.nuxt
dist
.output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nuxt.js specific files
.nitro
.cache
.data